.page {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  font-size: 300px;
  display: flex;
}

.description {
  font-size: 32px;
  color: #7e725e;
  text-shadow: 1px 1px 1px #d9c6a5, 1px 2px 1px #d9c6a5, 1px 3px 1px #d9c6a5,
    1px 4px 1px #d9c6a5, 1px 5px 1px #d9c6a5, 1px 6px 6px rgba(16, 16, 16, 0.4),
    1px 8px 10px rgba(16, 16, 16, 0.2), 1px 10px 35px rgba(16, 16, 16, 0.2),
    1px 15px 60px rgba(16, 16, 16, 0.4);
}
